<div class="main-content">
  <div class="container-fluid">
  	<div class="card" >
		<form [formGroup]="profileForm" (ngSubmit)="submitProfileForm()" #resetProfileForm="ngForm" novalidate>

	      <div class="card-header card-header-warning card-header-icon"> 
	          <div class="card-icon">
	              <i class="material-icons">content_copy</i>
	          </div>
	          <p class="card-title">{{ !isNewProfile? "Edit" : "New" }} Profile</p>
	      </div>
	      <div class="card-body pl-5 ">
	      	<!-- Form -->
			<div class="inner-wrapper">
			    <!-- Left block -->
			    <mat-card>
			      <div class="controlers-wrapper">
			        <!-- Name -->
			        <mat-form-field class="col-md-3">
			          <input matInput placeholder="Candidate Name" formControlName="name" 
			          		>
			          <mat-error *ngIf="handleError('name', 'required')">
			            You must provide a<strong> name</strong>
			          </mat-error>
			        </mat-form-field>

			        <!-- Email -->
			        <mat-form-field class="col-md-3">
			          <input matInput placeholder="Email" formControlName="email"
			          		>
			          <mat-error *ngIf="handleError('email', 'required')">
			            You must provide an<strong> email</strong>
			          </mat-error>
			        </mat-form-field>

			        <!-- Section -->
			        <mat-form-field class="col-md-3">
			          	<mat-label>Profile</mat-label>
			          	<input type="text" placeholder="Profile" aria-label="Number" matInput 
			          			formControlName="profile" [matAutocomplete]="auto" [formControl]="profileCtrl"
			          			>
			          	<mat-autocomplete #auto="matAutocomplete" >
						  	<mat-option *ngFor="let prof of filteredProfiles | async" [value]="prof">
						    	{{ prof }}
						  	</mat-option>
						</mat-autocomplete>
			          	<mat-error *ngIf="handleError('profile', 'required')">
			            	Profile is required
			          	</mat-error>
			        </mat-form-field>
			      </div>
			    </mat-card>

			    <!-- Right block -->
			    <mat-card>
			      <div class="controlers-wrapper">
			      	<!-- Date of birth -->
			        <mat-form-field class="col-md-3">
			          <input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"
			            (dateChange)="formatDate($event)">
			          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			          <mat-datepicker #picker></mat-datepicker>
			          <mat-error *ngIf="handleError('dob', 'required')">
			            Date of birth is required
			          </mat-error>
			        </mat-form-field>
			        <!-- Add subjects -->
			        <mat-form-field class="multiple-items" class="col-md-3">
			          <mat-chip-list #skillList>
			            <mat-chip *ngFor="let skill of skillsArray" [selectable]="selectable" [removable]="true"
			              (removed)="remove(skill)">
			              {{skill}}
			              <mat-icon matChipRemove>cancel</mat-icon>
			            </mat-chip>
			            <input placeholder="Add skill" [matChipInputFor]="skillList"
			              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
			              (matChipInputTokenEnd)="add($event)" >
			          </mat-chip-list>
			          <i class="material-icons tooltip-info" matTooltip="Enter Skill and press enter to add skills">
			            info
			          </i>
			        </mat-form-field>
			        <!-- Gender -->
			        <div class="col-md-3">
			          <mat-label>Gender:</mat-label>
				          <mat-radio-group aria-label="Select an option" formControlName="gender">
				            <mat-radio-button value="Male">Male</mat-radio-button>
				            <mat-radio-button value="Female">Female</mat-radio-button>
				          </mat-radio-group>
				        </div>
				      </div>
			      	<div class="col-md-3">
		        		<label>Resume</label>
		        		<div class="card">
		        			<a *ngIf="! isNewProfile" [href]="profile.resume"><strong>View Uploaded Resume</strong></a>	
		        		</div>
		        		
		        		<input type="file" (change)="onFileChange($event)"  />
		        	</div>
			        
			    </mat-card>
			  
			</div>
		</div>
      	<!-- Submit & Reset -->
	    <mat-card>
	      <div class="full-wrapper button-wrapper p-3">
	        <div class="button-wrapper">
	          <button mat-flat-button color="warn">Submit</button>
	        </div>
	      </div>
	    </mat-card>
	    </form>
	</div>
  </div>
</div>